{% extends 'root.html' %}

{% block content %}
<style>
    .splash-container{
        height: 100%;
    }
    .splash{
        top: 10px;
    }
    .splash a{
        text-decoration: unset;
    }
</style>
<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">DaaS 部署即服务</h1>
        <p class="splash-subhead">
            基于flask的深度学习自动化部署系统
        </p>
        <p>
            <a href="/login/" class="pure-button pure-button-primary">登录</a>
        </p>
    </div>
</div>

{% endblock %}