{% extends 'root.html' %}
 


{% block content %}
<style>
	.regist-info{
		width: 80%;
		display: inline-block;
		color: white;
		border: 3px solid white;
		padding: 1em 1.6em;
		border-radius: 5px;
		line-height: 1em;
	}
	.regist-body a {
		text-decoration: unset;
		color: aqua;
	}
</style>
<div class="splash-container">
	<div class="splash">
		<div class="regist-info">
			<div class="regist-head" style="font-size: x-large">
				{{username}}
			</div>
			<br>================<br>
			<div class="regist-body" style="margin-top: 3%">
				注册成功！
				<a href="/login/">点击登陆</a>
				<p style='margin-top: 2%'>
					<span id='count'>3</span>秒后自动跳转至登陆界面
				</p>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript"> 
	onload = function(){ 
		setInterval(go, 1000);
	}; 
	var x = 3;
	function go(){ 
		x --;
		if(x>0){
			document.getElementById("count").innerHTML = x;
		}else{
			location.href="../login/";
		}
	} 
</script>
{% endblock %}