{% extends 'root.html' %}

{% block content %}
<link rel="stylesheet" href="/static/custom-css/template.css">
<script type = "text/javascript" src="{{ url_for('static', filename = 'custom-js/template.js') }}"></script>
{% block import %} {% endblock %}

<div class="content">
    <div class="content-navigation">
        <ul class="breadcrumb" style='background:white'></ul>
    </div>
    <h3 class="content-head">{% block content_head %} {% endblock %}</h3>
    <div class="content-body">
        <div class="content-inner">
            {% block content_inner %} {% endblock %}
        </div>
    </div>
</div>
{% endblock %}